* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
    scroll-padding-top: 70px;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: #0f0f14;
    color: #FFFFFF;
    line-height: 1.6;
}

.main {
    flex: 1 1 auto;
}

.section {
    padding: 32px 0 0 0;
}

.first-section {
    padding-top: 70px;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}

/* Header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    background-color:  rgba(26, 26, 42, 1);
    color: #FFD700;
}

.header__container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;
}

.logo {
    width: 60px;
    overflow: hidden;
}

.logo img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    margin: 0;
}

.menu__icon {
   z-index: 5;
   display: block;
   position: relative;
   width: 25px;
   height: 25px;
   cursor: pointer;
}

.menu__icon::before {
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    background-image: url('images/icon-menu.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.menu__icon._active::before  {
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    background-image: url('images/close-menu-icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.menu__body {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    width: 100%;
    height: 100%;
    background-color: rgba(26, 26, 42, 1);
    padding: 32px 42px;
    transition: transform 0.3s ease;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.menu__body._active {
    transform: translateX(0);
}

.menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    background-color: rgba(26, 26, 42, 1);
    z-index: 2;
}

.menu_list {
    margin-top: 100px;
    list-style: none;
}

.menu_list li {
    margin-bottom: 50px;
}

.menu_list li:last-child {
    margin-bottom: 0;
}

.menu_list li a {
    text-decoration: none;
    font-weight: 700;
    font-size: 44px;
    line-height: 0.8;
    color: #FFD700;
}

@media screen and (min-width: 768px) {
    .header {
        padding: 10px 0;
    }

    .logo {
        width: 100px;
        overflow: hidden;
    }

    .menu__body {
        position: relative;
        padding: 0;
        transform: none;
        width: 100%;
        overflow: hidden;
    }

    .menu__body::before {
       display: none;
    }

    .menu__icon {
        display: none;
    }

    .menu_list {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-left: 0;
        margin-top: 0;
        position: relative;
        width: 100%;
    }

    .menu_list li {
        margin-bottom: 0;
    }

    .menu_list li a {
        position: relative;
        padding: 13px 26.5px;
        background: none;
        border: none;
        font-weight: 400;
        font-size: 20px;
        line-height: 1.05;
        text-align: center;
        color: #FFD700;
        cursor: pointer;
        overflow: hidden;
        transition: color 0.3s;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* Main */
h1 {
    font-size: 2rem;
    color: #FFD700;
}

.first-section__info {
    position: relative;
}

.cta-button {
    position: absolute; 
    top: 80%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    height: 50px;
    width: 150px;
    background-color: transparent; 
    border: none; 
    padding: 10px 20px;
    cursor: pointer;
    z-index: 1; 
}

@media screen and (min-width: 579px) {
    .cta-button {
        height: 80px;
        width: 250px; 
    }
}

@media (min-width: 998px) {
    .cta-button {
        height: 120px;
        width: 350px; 
    }
}

h2 {
    color: #FFD700;
    font-size: 1.8rem;
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: center;
}

@media (min-width: 375px) {
    th {
        writing-mode: horizontal-tb;
        transform: none;
    }
}

img {
    max-width: 100%;
    display: block;
    margin: 20px auto;
}

@media (min-width: 768px) {
    
    .section {
        padding: 56px 0 0 0;
    }
    
    .first-section {
        padding-top: 150px;
    }

    .container {
        max-width: 1440px;
        padding: 0 32px;
    }

    h1 {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1440px) {
    .section {
        padding: 80px 0 0 0;
    }
    
    .first-section {
        padding-top: 140px;
    }

    .container {
        max-width: 1128px;
        padding: 0;
    }
}

/* Footer */
footer {
    background-color: rgba(26, 26, 42, 1);
    color: #FFD700;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
